.modal-about {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.modal-about > :not(:first-child) {
  margin-top: 15px;
}

.modal-about > h1, .modal-about > p {
  color: #BEC3DC;
  word-break: break-word;
}

.modal-about a {
  color: #5efba2;
}
