.modal-group {
  display: flex;
  flex-direction: column;
}

.modal-group > :not(:first-child) {
  margin-top: 15px;
}

.modal-group > .form-input.button {
  width: 60px;
  align-self: flex-end;
}

.modal-group > ul {
  overflow: hidden;
  overflow-y: scroll;
}

.modal-group > ul > li:not(:first-child) {
  margin-top: 5px;
}
