.card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 20px;
  box-sizing: border-box;
  height: 150px;

  background-color: #485073;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2), -3px -3px 10px 0 rgba(255, 255, 255, 0.1), inset 1px 1px 0 0 rgba(255, 255, 255, 0.05);

  transition: 0.2s transform;

  -webkit-touch-callout: none;
  user-select: none;
}

.card .material-icons {
  vertical-align: middle;
}

.card .remove {
  opacity: 0;
  pointer-events: none;
}

.card:hover .remove {
  opacity: 1;
  pointer-events: inherit;
}

.card.focused {
  transform: scale(1.05, 1.05);

}

.card > header {
  display: grid;
  grid-template-columns: 48px 1fr;
  align-items: center;
  margin-bottom: 25px;
}

.card > header > .inset {
  display: flex;
  width: 48px;
  height: 48px;

  align-items: center;
  justify-content: center;

  border-radius: 15px;
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.3), inset -1px -1px 3px 0 rgba(255, 255, 255, 0.1);

  transition: 0.2s box-shadow;
}

.card > header > .inset > b.color1 {
  color: #F77976;
}

.card > header > .inset > b.color2 {
  color: #FAAF6E;
}

.card > header > .inset > b.color3 {
  color: #9172FB;
}

.card > header > .inset > b.color4 {
  color: #5EC1FB;
}

.card > header > h1 {
  margin-left: 10px;
  color: #BEC3DC;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card > h2 {
  color: #BEC3DC;
  font-weight: 500;
}

.card > footer {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-self: flex-end;
}

.card > footer > p {
  color: #656A89;
}
