@import '../../node_modules/reset-css/reset.css';
@import './type.css';

html, body {
  overflow: hidden;
}

html {
  position: relative;
  overflow-y: auto;
  cursor: default;
}

html::before {
  position: fixed;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #F7F9FC;
  z-index: -1000;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,h2,h3,h4,h5,h6,p,a {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.ion-icon > svg {
  pointer-events: none;
}
