@import '../../node_modules/reset-css/reset.css';
@import './type.css';

html, body {
  overflow: hidden;
}

html {
  overflow-y: auto;
  background: linear-gradient(120deg, rgba(81,90,132,1) 0%, rgba(35,43,76,1) 100%);
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,h2,h3,h4,h5,h6,p,a {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
