.page {
  padding: 48px;
}

.page > header, .page > footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}

.page > header.right, .page > footer.right {
  justify-content: end;
}

.page > header.center, .page > footer.center {
  justify-content: center;
}

.page > header h1 {
  margin: 0 10px;
}

.page > header.split h1 {
  flex-grow: 1;
}

.page > header h2 {
  color: #808080;
}

.page .timekeep-input {
  margin-bottom: 15px;
}

.page .timekeep-showcase {
  margin: 15px 0;
}

.page .timekeep-notebook {
  margin: 15px 0;
}
