.form-input {
  position: relative;
  border-radius: 5px;
  padding: 10px;
  padding-left: 15px;

  border-radius: 15px;
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.3), inset -1px -1px 3px 0 rgba(255, 255, 255, 0.1);
}

.form-input.button {
  border: none;
  transition: 0.2s box-shadow, 0.2s background;
  cursor: pointer;
  min-width: 25px;
  -webkit-touch-callout: none;
  user-select: none;
  height: 10px;

  padding: 10px 15px;
  border-radius: 5px;
  background-color: #485073;
  box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2), -3px -3px 10px 0 rgba(255, 255, 255, 0.1), inset 1px 1px 0 0 rgba(255, 255, 255, 0.05);
  transition: 0.2s opacity;
}

.form-input.button.disabled::before {
  opacity: 0;
}

.form-input.button.disabled {
  cursor: default;
  box-shadow: none;
}

.form-input label {
  position: absolute;
  top: 50%;
  left: 13px; /* left + padding = input padding */
  transform: translateY(-50%);
  transition: 0.1s opacity;
  pointer-events: none;
  padding: 0 2px;
  font-size: 14px;
  color: #BEC3DC;
  white-space: nowrap;
}

.form-input.button label {
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.form-input.button.disabled label {
  color: #656A89;
}

.form-input:not(.button) label.elevated {
  color: #BEC3DC;
  opacity: 0;
}

.form-input input {
  margin: 0;
  width: 100%;
  border: none;
  outline: none;
  appearance: none;
  background: none;
  font-size: 14px;
  color: #BEC3DC;
}

.form-input.button input {
  display: none;
}

.form-input input::-webkit-clear-button {
  display: none;
}

.form-input input[type=number]::-webkit-inner-spin-button,
.form-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-input.button:not(.disabled):active::before {
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.3), inset -1px -1px 3px 0 rgba(255, 255, 255, 0.1);
}
