@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-gray-50 antialiased;
    -webkit-tap-highlight-color: transparent;
    padding-bottom: env(safe-area-inset-bottom);
  }

  body {
    touch-actions: none;
  }

  menu {
    margin: 0;
    padding: 0;
  }

  #app {
    @apply min-h-screen flex justify-center overflow-x-hidden;
  }
}

@layer components {

}
