@import url('https://rsms.me/inter/inter.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-gray-50 antialiased;
    -webkit-tap-highlight-color: transparent;
    padding-bottom: env(safe-area-inset-bottom);
  }

  body {
    touch-actions: none;
  }

  menu {
    margin: 0;
    padding: 0;
  }

  #app {
    @apply min-h-screen flex justify-center overflow-x-hidden;
  }
}

@layer components {
  .page {
    @apply p-12
  }

  .page-header, .page-footer {
    @apply flex flex-row items-center mb-5
  }

  .page-title {
    @apply mx-3
  }

  .page-subtitle {
    @apply text-gray-50
  }
}
