.modal-export {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.modal-export > h1 {
  color: #BEC3DC;
  word-break: break-word;
}

.modal-export > :not(:first-child) {
  margin-top: 15px;
}
